<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Works</title>
</head>
<body>
    <header>
        <h1>Works</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
    </nav>
    <main>
        <p>Album Ahi vamos</p>
        <img src="/images/ahi vamos.jpeg">
        <p>Album sinfonico</p>
        <img src="/images/2.jpeg">
        <p>Mas albunes en su carrera solista y de banda</p>
        <img src="/images/albunes2.png">
        <p>Album cancion Animal</p>
        <img src="/images/cancion animal.jpg">
           
        
    </main>
    
</body>
</html>
